<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RxSyncService.Properties.ConfigFile" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
    <applicationSettings>
        <RxSyncService.Properties.ConfigFile>
            <setting name="LOCAL_HOST" serializeAs="String">
                <value>localhost</value>
            </setting>
            <setting name="LOCAL_DATABASE" serializeAs="String">
                <value>KABALE_RRH</value>
            </setting>
            <setting name="LOCAL_PORT" serializeAs="String">
                <value>1433</value>
            </setting>
            <setting name="LOCAL_USER" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="LOCAL_PASSWORD" serializeAs="String">
                <value>M$$QLp@$$w0rd</value>
            </setting>
            <setting name="LOG_PATH" serializeAs="String">
                <value>C:\CRDDP\RxSyncService_Log.txt</value>
            </setting>
            <setting name="LAST_SYNC_DATE" serializeAs="String">
                <value />
            </setting>
            <setting name="API_URL_REQ" serializeAs="String">
                <value>http://197.157.32.194/elmisAPI/cddp/requisitions</value>
            </setting>
            <setting name="API_URL_ISSUE" serializeAs="String">
                <value>http://197.157.32.194/elmisAPI/cddp/issues</value>
            </setting>
            <setting name="FACILITY_CODE" serializeAs="String">
                <value>5092</value>
            </setting>
            <setting name="SYNC_INTERVAL" serializeAs="String">
                <value>60000</value>
            </setting>
            <setting name="AUTHORIZATION" serializeAs="String">
                <value>mME1wB9mnhnDHhWdKOlntgi5QcDad69J</value>
            </setting>
            <setting name="SYNC_BATCH_SIZE" serializeAs="String">
                <value>50</value>
            </setting>
        </RxSyncService.Properties.ConfigFile>
    </applicationSettings>
</configuration>